<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>pug market</title>
    <script src="/script/main.js" defer></script>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
    <div id="root">
      <div id="header">
        <div>Welcome to the header</div>
        <button>Signup</button>
        <button>Login</button>
      </div>
      <div class="main">
      </div>
      <footer class="footer">
        <p>Copyright &copy; 2021</p>
      </footer>
    </div>
  </body>
</html>