<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>pug login</title>
    <script src="/script/main.js" defer></script>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
    <div id="root">
      <div id="loginDiv">
        <div class="inputField">
          <div>User name</div>
          <input id="loginName" type="text" placeholder="user name">
        </div>
        <div class="inputField">
          <div>Password</div>
          <input id="loginPassword" type="password" placeholder="password">
        </div>
        <div id="buttonDiv">
          <button id="loginButton">Login</button>
        </div>
        <div id="error"></div>
      </div>
    </div>
  </body>
</html>