<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My awesome site</title>
    <script src="js/layout.js" defer></script>
    <link rel="stylesheet" href="css/layout.css">
  </head>
  <body>
    <div id="layout">
      <div id="header">
        <div id="icon"><a href="/"><img src="/image/apple-map.png"></a></div>
        <button id="loginLink">login</button>
        <button id="signupLink">signup</button>
      </div>
      <div id="main">
        <h1>layout</h1>
      </div>
      <div id="footer">
        <p>Copyright &copy; me 2022</p>
      </div>
    </div>
  </body>
</html>