@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  color: white;
  font-family: 'Playfair Display', serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: 'Playfair Display', serif;
}

.main-container {
  display: grid;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body {
  background-color: hsl(207, 26%, 17%);
}

p {
  font-family: 'EB Garamond', serif;
  color: white;
}

.user-container {
  width: 20%;
  height: 270px;
  border: 1px solid white;
  margin: 10px 30px 30px 10px;
  display: flex;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0px 1px 1px 0px hsla(0, 0%, 0%, 0.14),
    0px 2px 1px -1px hsla(0, 0%, 0%, 0.12), 0px 1px 3px 0px hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  flex-flow: column;
}
