doctype html
html
    head
        meta(charset="UTF-8")
        title pug login
        link(rel='stylesheet', href='/css/main.css', type='text/css' )
    body
        div
            button(onclick='location.href="/logout"') Logout
        h1 welcome to #{userName}