doctype html
html
    head
        meta(charset="UTF-8")
        title pug login
        link(rel='stylesheet', href='/css/main.css', type='text/css' )
    body
        div
            button(onclick='location.href="/login"') Login
        h1 welcome to the site go to login